<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQiMXKjl9vjxZg7HeSqouTKy3Yy-m-56g</string>
	<key>GCM_SENDER_ID</key>
	<string>976748895908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapp1</string>
	<key>PROJECT_ID</key>
	<string>myfluttercollege-6d48f</string>
	<key>STORAGE_BUCKET</key>
	<string>myfluttercollege-6d48f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976748895908:ios:0611219e8fea1d9ba15031</string>
</dict>
</plist>